@import "tailwindcss";

/* font */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

html {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
  --primary-color: red;
}

.primaryColor {
  color: var(--primary-color);
}
